@use './variables' as var;
.track {
	margin: 10px 0;
	font-size: 20px;
	padding: 12px;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #fff;
	border: 0;
	border-radius: var.$base-radius;
}
.track:hover {
	cursor: pointer;
	background-color: #f2f3f4;
}
.trackTitle {
}
.gray {
	color: var.$color-gray;
	font-size: 14px;
}
.trackTitle:hover,
.trackTitle:active,
.trackTitle:focus {
	cursor: pointer;
	text-decoration: underline;
}
.br8 {
	border-radius: var.$base-radius;
}
.trackInfo {
	width: 400px;
	margin: 0 20px;
}
.backdrop {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
}
.playButton {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	border-radius: 50%;
}
.trackTime {
	margin-left: auto;
}
.trackTimeWrap {
	min-width: 40px;
}
.actionMenu {
	display: flex;
	flex-direction: row;
}
.actionIcons {
	color: var.$color-gray;
	transition: color 0.3s;
}
.actionIcons:hover {
	color: darken($color: var.$color-gray, $amount: 10);
}
.popover {
	padding: 8px;
}
