@use './../../shared/styles/variables' as var;

.upload_icon {
	font-size: 150px;
	color: var.$color-gray;
	height: 100%;
	gap: 20px;
}
.upload_button {
	border-color: red;
	color: red;
	text-transform: none;
	font-weight: 700;
}
