@use './../../../../shared//styles/variables' as var;
.actionRow {
	display: flex;
	flex-direction: row;
}
.actionIcons {
	color: var.$color-gray;
	transition: color 0.3s;
}
.actionIcons:hover {
	color: darken($color: var.$color-gray, $amount: 10);
}
