$base-color: #1976d2;
$color-gray: #818c99;
$base-radius: 8px;
$base-fillment-color: #f7f7f7;
$base-border-color: #ddd;
$danger-color: #f32013;
$track-hover-color: #f2f3f4;
$color-white: #fff;
// :export {
// 	base-color: $base-color;
// 	base-radius: $base-radius;
// 	base-fillment-color: $base-fillment-color;
// 	base-border-color: $base-border-color;
// 	danger-color: $danger-color;
// }
