@use './variables' as var;
.input {
	margin-bottom: 16px;
}
.btn {
	background-color: var.$base-color;
	color: #fff;
	padding: 8px 12px;
}
.btn:hover {
	background-color: lighten($color: var.$base-color, $amount: 10);
}
.loader {
	display: flex;
	align-items: center;
	justify-content: center;
}
.title {
}
.title:hover,
.title:active,
.title:focus {
	cursor: pointer;
	text-decoration: underline;
}
.gray {
	color: var.$color-gray;
	font-size: 14px;
}
.backdrop {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
}
.relative {
	position: relative;
}

.iconButton {
	color: var.$color-gray;
	transition: color 0.3s;
}
.iconButton:hover {
	color: darken($color: var.$color-gray, $amount: 5);
}
