.menu {
	float: left;
	width: 25%;
	padding-right: 16px;
}
.menu__wrapper {
	border-radius: var.$base-radius;
	border: 1px solid var.$base-border-color;
	background-color: var.$base-fillment-color;
}
.menu__list {
	padding: 30px;
	margin: 12px 0;
	list-style: none;
}
.list-item {
	margin-bottom: 8px;
	transition: 0.4s;
	color: var.$base-color;
}
.list-item:hover,
.list-item_selected {
	cursor: pointer;
	text-decoration: underline;
}

// content blocks
.content {
	float: right;
	width: 75%;
}
.content__wrapper {
	padding: 10px 15px;
	border-radius: var.$base-radius;
	border: 1px solid var.$base-border-color;
	background-color: var.$base-fillment-color;
}
