@use './variables' as var;
.track {
	margin: 4px 0;
	font-size: 20px;
	padding: 12px;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: var.$color-white;
	border: 0;
	border-radius: var.$base-radius;
}
.track:hover {
	cursor: pointer;
	background-color: var.$track-hover-color;
}
.track__active {
	background-color: var.$track-hover-color;
}

.br8 {
	border-radius: var.$base-radius;
}
.trackInfo {
	width: 400px;
	margin: 0 20px;
}
//есть в general
.backdrop {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
}
//перенести в general
.playButton {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	border-radius: 50%;
}
.trackTime {
	margin-left: auto;
}
.popover {
	padding: 8px;
}
