@use '@shared/styles/variables' as var;
.action_buttons_wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.action_buttons {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	transform: translateY(-50%);

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.playlist_stats {
	position: absolute;
	bottom: 16px;
	left: 0;
	width: 100%;
}
.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity 0.2s;
	// дляиконки
	color: var.$color-white;
}
.btn:hover {
	cursor: pointer;
	opacity: 0.8;
}
.play_btn {
	// дляиконки
	font-size: 80px;
}
.edit_btn {
	// дляиконки
	font-size: 30px;
}
.br8 {
	border-radius: var.$base-radius;
}
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}
.overflow {
	overflow: hidden;
}
.default_icon {
	position: absolute;
	left: 0;
	transition: top 160ms ease !important; //дурацкий mui и сложности с переопределением дефолтовых стилей. Было лень, но я наю, что это грех =)
}
.top_icon {
	top: -100%;
}
.bot_icon {
	top: 100%;
}
.hidden {
}
.bot_icon.hidden {
	top: 0;
}
.top_icon.hidden {
	top: 0;
}
