@use '@shared/styles/variables' as var;
.modal_grid {
	max-width: 560px;
	background: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: var.$base-radius;
	overflow: hidden;
}
.grid {
	flex-wrap: nowrap !important;
}
